body{
    background-color: black;
    color: aliceblue;
    font-size: 21px;
}
p{
    color: blue;
}
div{
    background-color: aqua;
    width: 500px;
}
span{
    color: blueviolet;
    font-size: 40px;
    font-weight: bold;
}
.top-section{
    background-color: aquamarine;
}
.bottom-section{
    background-color: paleturquoise;
}
.p-section{
    font-style: italic;
}
#highlight{
    background-color: black;
}
#new{
    color: plum;
}